[Desktop Entry]
Name=Walmendinger Horn
Name[ca]=Walmendinger Horn
Name[de]=Walmendinger Horn
Name[en_GB]=Walmendinger Horn
Name[es]=Walmendinger Horn
Name[fi]=Walmendinger Horn
Name[gl]=Corno de Walmendinger
Name[it]=Walmendinger Horn
Name[lt]=Valmendingerio kyšulys
Name[nl]=Walmendinger Horn
Name[nn]=Walmendingerhorn
Name[pl]=Róg Walmendingera
Name[pt]=Corno de Walmendinger
Name[pt_BR]=Walmendinger Horn
Name[ru]=Вальмендингерхорн
Name[sk]=Walmendinger Horn
Name[sl]=Vrh Walmendinger
Name[sr]=Валмендингеров рог
Name[sr@ijekavian]=Валмендингеров рог
Name[sr@ijekavianlatin]=Valmendingerov rog
Name[sr@latin]=Valmendingerov rog
Name[sv]=Walmendinger Horn
Name[tr]=Walmendinger Boynuzu
Name[uk]=Горн Валмендінґера
Name[x-test]=xxWalmendinger Hornxx
Name[zh_TW]=Walmendinger Horn
X-KDE-PluginInfo-Name=WalmendingerHorn
X-KDE-PluginInfo-Author=Robert Fitsy
X-KDE-PluginInfo-Email=rehfjo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
