[Desktop Entry]
Name=ForestFog
Name[ca]=Bosc amb boira
Name[ca@valencia]=Bosc amb boira
Name[de]=Waldnebel
Name[en_GB]=ForestFog
Name[es]=Bosque con niebla
Name[fi]=Sumuinen metsä
Name[gl]=Ra do bosque
Name[it]=Nebbia nella foresta
Name[ko]=숲 속 안개
Name[lt]=Miško rūkas
Name[nl]=Mist in het bos
Name[nn]=Skodde over skogen
Name[pl]=Mgła leśna
Name[pt]=Névoa na Floresta
Name[pt_BR]=Névoa na Floresta
Name[ru]=Туман в лесу
Name[sk]=Lesná hmla
Name[sl]=Megla v gozdu
Name[sr]=Шумска магла
Name[sr@ijekavian]=Шумска магла
Name[sr@ijekavianlatin]=Šumska magla
Name[sr@latin]=Šumska magla
Name[sv]=Skogsdimma
Name[tr]=Sisli Orman
Name[uk]=Туман у лісі
Name[x-test]=xxForestFogxx
Name[zh_CN]=雾中森林
Name[zh_TW]=森林之霧
X-KDE-PluginInfo-Name=ForestFog
X-KDE-PluginInfo-Author=Alfred Deak
X-KDE-PluginInfo-Email=alfred.deak@chello.at
X-KDE-PluginInfo-License=LGPLv3
