[Desktop Entry]
Name=Dance of the Spirits
Name[ar]=رقصة الأرواح
Name[bs]=Ples duhova
Name[ca]=La dansa dels esperits
Name[ca@valencia]=La dansa dels esperits
Name[cs]=Tanec duchů
Name[da]=Åndernes dans
Name[de]=Tanz der Geister
Name[el]=Χορός των πνευμάτων
Name[en_GB]=Dance of the Spirits
Name[es]=El baile de los espíritus
Name[fi]=Henkien tanssi
Name[fr]=Danse des esprits
Name[gl]=Danza dos espíritos
Name[hu]=Szellemek tánca
Name[it]=Danza degli spiriti
Name[ko]=영혼의 춤
Name[lt]=Sielų šokis	
Name[nb]=Åndenes dans
Name[nds]=Neveldanz
Name[nl]=Dans van de geesten
Name[nn]=Åndedansen
Name[pa]=ਭੂਤਾਂ ਦਾ ਭੰਗੜਾ
Name[pl]=Taniec dusz
Name[pt]=Dança dos Espíritos
Name[pt_BR]=Dança dos Espíritos
Name[ro]=Dansul spiritelor
Name[ru]=Танец духов
Name[sk]=Tanec duchov
Name[sl]=Ples duhov
Name[sr]=Плес духова
Name[sr@ijekavian]=Плес духова
Name[sr@ijekavianlatin]=Ples duhova
Name[sr@latin]=Ples duhova
Name[sv]=Andarnas dans
Name[tr]=Ruhların Dansı
Name[uk]=Танок духів
Name[x-test]=xxDance of the Spiritsxx
Name[zh_CN]=魂之舞
Name[zh_TW]=精神之舞

X-KDE-PluginInfo-Name=Dance_of_the_Spirits
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic(at)kde.org
X-KDE-PluginInfo-License=GPLv2+
