[Desktop Entry]
Name=Fallen Leaf
Name[ar]=سقوط ورقة
Name[ca]=Fulla caiguda
Name[ca@valencia]=Fulla caiguda
Name[cs]=Padlý list
Name[da]=Faldent blad
Name[de]=Gefallenes Laub
Name[en_GB]=Fallen Leaf
Name[es]=Hoja caída
Name[et]=Langev leht
Name[eu]=Orbela
Name[fi]=Pudonnut lehti
Name[fr]=Feuille morte
Name[gl]=Folla caída
Name[hu]=Hulló levél
Name[id]=Fallen Leaf
Name[it]=Foglia caduta
Name[ko]=단풍잎
Name[nl]=Gevallen blad
Name[nn]=Haustblad
Name[pa]=ਡਿੱਗਿਆ ਪੱਤਾ
Name[pl]=Opadły liść
Name[pt]=Folha Caída
Name[pt_BR]=Folha Caída
Name[ru]=Опавший лист
Name[sk]=Opadané listy
Name[sl]=Padli list
Name[sr]=Опао лист
Name[sr@ijekavian]=Опао лист
Name[sr@ijekavianlatin]=Opao list
Name[sr@latin]=Opao list
Name[sv]=Fallet löv
Name[tr]=Düşmüş Yaprak
Name[uk]=Падалішній листок
Name[x-test]=xxFallen Leafxx
Name[zh_CN]=落叶
Name[zh_TW]=落葉
X-KDE-PluginInfo-Name=FallenLeaf
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-License=LGPLv3
