[Desktop Entry]
Name=Fallen Leaf
X-KDE-PluginInfo-Name=FallenLeaf
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-License=LGPLv3
