[Desktop Entry]
Name=Fallen Leaf
Name[ca]=Fulla caiguda
Name[ca@valencia]=Fulla caiguda
Name[en_GB]=Fallen Leaf
Name[gl]=Folla caída
Name[nl]=Gevallen blad
Name[pl]=Opadły liść
Name[pt]=Folha Caída
Name[pt_BR]=Folha Caída
Name[sv]=Fallet löv
Name[uk]=Падалішній листок
Name[x-test]=xxFallen Leafxx
X-KDE-PluginInfo-Name=FallenLeaf
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-License=LGPLv3
