[Desktop Entry]
Name=Opal
Name[az]=Opal
Name[ca]=Opal
Name[ca@valencia]=Opal
Name[cs]=Opál
Name[da]=Opal
Name[de]=Opal
Name[en_GB]=Opal
Name[es]=Ópalo
Name[et]=Opaal
Name[eu]=Opal
Name[fi]=Opal
Name[fr]=Opale
Name[gl]=Ópalo
Name[hi]=पांडुपत्थर
Name[hu]=Opal
Name[ia]=Opal
Name[id]=Opal
Name[it]=Opale
Name[ko]=오팔
Name[lt]=Opalas
Name[nl]=Opal
Name[nn]=Opal
Name[pl]=Opal
Name[pt]=Opala
Name[pt_BR]=Opala
Name[ro]=Opal
Name[ru]=Опал
Name[sk]=Opál
Name[sl]=Opal
Name[sv]=Opal
Name[tg]=Айнушшамс
Name[uk]=Опал
Name[x-test]=xxOpalxx
Name[zh_CN]=Opal 宝光
Name[zh_TW]=Opal

X-KDE-PluginInfo-Name=Opal
X-KDE-PluginInfo-Author=Ken Vermette
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
