[Desktop Entry]
Name=Opal
Name[ca]=Opal
Name[ca@valencia]=Opal
Name[de]=Opal
Name[en_GB]=Opal
Name[es]=Ópalo
Name[fi]=Opal
Name[fr]=Opale
Name[gl]=Ópalo
Name[id]=Opal
Name[it]=Opale
Name[nl]=Opal
Name[nn]=Opal
Name[pl]=Opal
Name[pt]=Opala
Name[pt_BR]=Opala
Name[ru]=Опал
Name[sk]=Opál
Name[sv]=Opal
Name[uk]=Опал
Name[x-test]=xxOpalxx
Name[zh_CN]=蛋白石
Name[zh_TW]=Opal

X-KDE-PluginInfo-Name=Opal
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
