[Desktop Entry]
Name=Opal

X-KDE-PluginInfo-Name=Opal
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
