[Desktop Entry]
Name=Flying Konqui
X-KDE-PluginInfo-Name=FlyingKonqui
X-KDE-PluginInfo-Author=Timothée Giet
X-KDE-PluginInfo-Email=animtim@gmail.com
X-KDE-PluginInfo-License=LGPLv3
