[Desktop Entry]
Name=Flying Konqui
Name[ar]=كونكي الطّائر
Name[ca]=Konqui volant
Name[ca@valencia]=Konqui volant
Name[cs]=Létající Konqui
Name[da]=Flyvende Konqui
Name[de]=Fliegender Konqui
Name[en_GB]=Flying Konqui
Name[es]=Konqui volador
Name[et]=Lendav Konqui
Name[eu]=Konqui hegalaria
Name[fi]=Lentävä Konqui
Name[fr]=Konqui volant
Name[gl]=Konqui volador
Name[hu]=Repülő sárkány
Name[id]=Flying Konqui
Name[it]=Konqui volante
Name[ko]=날아다니는 Konqui
Name[nl]=Vliegende Konqui
Name[nn]=Flygande Konqui
Name[pl]=Latający Konqui
Name[pt]=Konqui Voador
Name[pt_BR]=Konqui Voando
Name[ru]=Летающий Конкви
Name[sk]=Lietajúci Konqui
Name[sl]=Leteči Konqui
Name[sr]=Летећи Конки
Name[sr@ijekavian]=Летећи Конки
Name[sr@ijekavianlatin]=Leteći Konki
Name[sr@latin]=Leteći Konki
Name[sv]=Flygande Konqui
Name[tr]=Uçan Konqui
Name[uk]=Конкі у польоті
Name[x-test]=xxFlying Konquixx
Name[zh_CN]=飞行的 Konqui
Name[zh_TW]=飛翔的 Konqui
X-KDE-PluginInfo-Name=FlyingKonqui
X-KDE-PluginInfo-Author=Timothée Giet
X-KDE-PluginInfo-Email=animtim@gmail.com
X-KDE-PluginInfo-License=LGPLv3
