[Desktop Entry]
Name=Shell
Name[az]=Üz qabığı
Name[ca]=Shell
Name[cs]=Shell
Name[de]=Shell
Name[en_GB]=Shell
Name[es]=Shell
Name[eu]=Oskola
Name[fi]=Kuori
Name[fr]=Shell
Name[hi]=खोल
Name[hu]=Kagylóhéj
Name[ia]=Shell (Concha)
Name[it]=Conchiglia
Name[ko]=조가비
Name[lt]=Apvalkalas
Name[nl]=Shell
Name[nn]=Skal
Name[pl]=Muszla
Name[pt]=Consola
Name[pt_BR]=Concha
Name[ro]=Cochilie
Name[ru]=Ракушка
Name[sk]=Ulita
Name[sl]=Školjka
Name[sv]=Skal
Name[uk]=Черепашка
Name[x-test]=xxShellxx
Name[zh_CN]=Shell 彩贝

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Lucas Andrade
X-KDE-PluginInfo-Email=luwx@hotmail.com.br
X-KDE-PluginInfo-License=CC-BY-SA-4.0
