[Desktop Entry]
Name=Path
Name[ar]=المسار
Name[ca]=Camí
Name[ca@valencia]=Camí
Name[cs]=Cesta
Name[da]=Sti
Name[de]=Pfad
Name[en_GB]=Path
Name[es]=Camino
Name[et]=Tee
Name[eu]=Bidezidorra
Name[fi]=Polku
Name[fr]=Emplacement
Name[gl]=Ruta
Name[hu]=Ösvény
Name[ia]=Percurso
Name[id]=Path
Name[it]=Percorso
Name[ko]=오솔길
Name[nl]=Pad
Name[nn]=Sti
Name[pa]=ਮਾਰਗ
Name[pl]=Ścieżka
Name[pt]=Caminho
Name[pt_BR]=Caminho
Name[ru]=Тропа
Name[sk]=Cesta
Name[sl]=Pot
Name[sr]=Стаза
Name[sr@ijekavian]=Стаза
Name[sr@ijekavianlatin]=Staza
Name[sr@latin]=Staza
Name[sv]=Stig
Name[tr]=Yol
Name[uk]=Шлях
Name[x-test]=xxPathxx
Name[zh_CN]=道路
Name[zh_TW]=路徑
X-KDE-PluginInfo-Name=Path
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
