[Desktop Entry]
Name=Path
X-KDE-PluginInfo-Name=Path
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
