[Desktop Entry]
Name=Path
Name[ast]=Camín
Name[ca]=Camí
Name[ca@valencia]=Camí
Name[da]=Sti
Name[en_GB]=Path
Name[es]=Camino
Name[fi]=Polku
Name[gl]=Ruta
Name[it]=Percorso
Name[nl]=Pad
Name[nn]=Sti
Name[pl]=Ścieżka
Name[pt]=Caminho
Name[pt_BR]=Caminho
Name[sv]=Stig
Name[uk]=Шлях
Name[x-test]=xxPathxx
Name[zh_CN]=道路
Name[zh_TW]=路徑
X-KDE-PluginInfo-Name=Path
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
