[Desktop Entry]
Name=Volna

X-KDE-PluginInfo-Name=Volna
X-KDE-PluginInfo-Author=Nikita Babin
X-KDE-PluginInfo-Email=raveomelette@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
