[Desktop Entry]
Name=Poppy
Name[ca]=Poppy
Name[de]=Poppy
Name[en_GB]=Poppy
Name[es]=Amapolas
Name[fi]=Unikko
Name[gl]=Papoula
Name[it]=Papavero
Name[lt]=Aguona
Name[nl]=Poppy
Name[nn]=Valmue
Name[pl]=Poppy
Name[pt]=Papoila
Name[pt_BR]=Papoula
Name[ru]=Мак
Name[sk]=Mak
Name[sl]=Mak
Name[sr]=Мак
Name[sr@ijekavian]=Мак
Name[sr@ijekavianlatin]=Mak
Name[sr@latin]=Mak
Name[sv]=Vallmo
Name[tr]=Gelincik
Name[uk]=Мак
Name[x-test]=xxPoppyxx
Name[zh_CN]=虞美人
Name[zh_TW]=罌粟花
X-KDE-PluginInfo-Name=Poppy
X-KDE-PluginInfo-Author=Sinisa Tatic
X-KDE-PluginInfo-Email=sinisa.tatic@gmail.com
X-KDE-PluginInfo-License=LGPLv3
