[Desktop Entry]
Name=Altai
Name[ca]=Altai
Name[cs]=Altai
Name[es]=Altai
Name[eu]=Altai
Name[fr]=Altai
Name[hi]=अलटाइ
Name[hu]=Altaj
Name[it]=Altai
Name[nl]=Altai
Name[pt_BR]=Altai
Name[sk]=Altaj
Name[sl]=Altaj
Name[sv]=Altai
Name[uk]=Алтай
Name[x-test]=xxAltaixx

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Alesya Khoteeva
X-KDE-PluginInfo-Email=alesyahoteeva@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
