[Desktop Entry]
Name=summer 1am
X-KDE-PluginInfo-Name=summer_1am
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
