[Desktop Entry]
Name=Grey
Name[ar]=رماديّ
Name[ca]=Gris
Name[ca@valencia]=Gris
Name[cs]=Šedá
Name[da]=Grå
Name[de]=Graustufen
Name[en_GB]=Grey
Name[es]=Gris
Name[et]=Hall
Name[eu]=Grisa
Name[fi]=Harmaus
Name[fr]=Gris
Name[gl]=Gris
Name[hu]=Szürkeség
Name[id]=Grey
Name[it]=Grigio
Name[ko]=회색
Name[lt]=Pilka
Name[nl]=Grijs
Name[nn]=Grå
Name[pa]=ਸਲੇਟੀ
Name[pl]=Szary
Name[pt]=Cinzento
Name[pt_BR]=Cinza
Name[ro]=Gri
Name[ru]=Оттенки серого
Name[sk]=Šedá
Name[sl]=Sivina
Name[sr]=Сивило
Name[sr@ijekavian]=Сивило
Name[sr@ijekavianlatin]=Sivilo
Name[sr@latin]=Sivilo
Name[sv]=Grå
Name[tr]=Gri
Name[uk]=Сірість
Name[x-test]=xxGreyxx
Name[zh_CN]=灰
Name[zh_TW]=灰色
X-KDE-PluginInfo-Name=Grey
X-KDE-PluginInfo-Author=Sigi Sagi
X-KDE-PluginInfo-Email=sigi-sagi@gmx.de
X-KDE-PluginInfo-License=LGPLv3
