[Desktop Entry]
Name=Landmannalaugar
Name[ca]=Landmannalaugar
Name[de]=Landmannalaugar
Name[en_GB]=Landmannalaugar
Name[es]=Landmannalaugar
Name[fi]=Landmannalaugar
Name[gl]=Landmannalaugar
Name[it]=Landmannalaugar
Name[lt]=Landmanalaugaras
Name[nl]=Landmannalaugar
Name[nn]=Landmannalaugar
Name[pl]=Landmannalaugar
Name[pt]=Landmannalaugar
Name[pt_BR]=Landmannalaugar
Name[ro]=Landmannalaugar
Name[ru]=Ландманналёйгар
Name[sk]=Landmannalaugar
Name[sl]=Landmannalaugar
Name[sr]=Ландманалејгар
Name[sr@ijekavian]=Ландманалејгар
Name[sr@ijekavianlatin]=Landmanalejgar
Name[sr@latin]=Landmanalejgar
Name[sv]=Landmannalaugar
Name[tr]=Güzel
Name[uk]=Ландманналауґар
Name[x-test]=xxLandmannalaugarxx
Name[zh_CN]=兰德曼纳劳卡
Name[zh_TW]=Landmannalaugar
X-KDE-PluginInfo-Name=Landmannalaugar
X-KDE-PluginInfo-Author=Pierre-Yves Dirand
X-KDE-PluginInfo-License=LGPLv3
