[Desktop Entry]
Name=Darkest Hour
Name[ar]=أعتم وقت
Name[ca]=L'hora més fosca
Name[ca@valencia]=L'hora més fosca
Name[da]=Mørkeste stund
Name[de]=Zu dunkler Stunde
Name[en_GB]=Darkest Hour
Name[es]=La hora más oscura
Name[et]=Tumedaim tund
Name[eu]=Ordurik ilunena
Name[fi]=Pimein hetki
Name[fr]=Heures les plus sombres
Name[gl]=A hora máis escura
Name[hu]=A sötétség órája
Name[id]=Darkest Hour
Name[it]=L'ora più buia
Name[ko]=어두운 시간
Name[nl]=Donkerste uur
Name[nn]=Den mørke timen
Name[pa]=ਗੂੜ੍ਹਾ ਵੇਲਾ
Name[pl]=Najciemniejsza godzina
Name[pt]=Hora Mais Escura
Name[pt_BR]=Hora Mais Escura
Name[ru]=Самое тёмное время
Name[sk]=Najtmavšia hodina
Name[sl]=Mračni časi
Name[sr]=Најцрњи час
Name[sr@ijekavian]=Најцрњи час
Name[sr@ijekavianlatin]=Najcrnji čas
Name[sr@latin]=Najcrnji čas
Name[sv]=Mörkaste timman
Name[tr]=En Karanlık Saat
Name[uk]=Найтемніша година
Name[x-test]=xxDarkest Hourxx
Name[zh_CN]=最黑暗的时刻
Name[zh_TW]=最黑暗的時刻
X-KDE-PluginInfo-Name=DarkestHour
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
