[Desktop Entry]
Name=Darkest Hour
Name[ca]=L'hora més fosca
Name[ca@valencia]=L'hora més fosca
Name[da]=Mørkeste stund
Name[en_GB]=Darkest Hour
Name[es]=La hora más oscura
Name[fi]=Pimein hetki
Name[gl]=A hora máis escura
Name[it]=Lora più buia
Name[nl]=Donkerste uur
Name[nn]=Den mørke timen
Name[pl]=Najciemniejsza godzina
Name[pt]=Hora Mais Escura
Name[pt_BR]=Hora Mais Escura
Name[sv]=Mörkaste timman
Name[uk]=Найтемніша година
Name[x-test]=xxDarkest Hourxx
Name[zh_CN]=最黑暗的时刻
X-KDE-PluginInfo-Name=DarkestHour
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
