[Desktop Entry]
Name=Milky Way
Name[ca]=Via Làctia
Name[de]=Milchstraße
Name[es]=Vía Láctea
Name[nl]=Melkweg
Name[x-test]=xxMilky Wayxx

X-KDE-PluginInfo-Name=Milky Way
X-KDE-PluginInfo-Author=ruvkr
X-KDE-PluginInfo-Email=universalemail.gm@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
