[Desktop Entry]
Name=Milky Way
Name[ca]=Via Làctia
Name[cs]=Mléčná dráha
Name[de]=Milchstraße
Name[en_GB]=Milky Way
Name[es]=Vía Láctea
Name[eu]=Esne-bidea
Name[nl]=Melkweg
Name[pl]=Droga Mleczna
Name[sk]=Mliečna dráha
Name[sl]=Mlečna cesta
Name[uk]=Чумацький Шлях
Name[x-test]=xxMilky Wayxx
Name[zh_CN]=Milky Way 银河

X-KDE-PluginInfo-Name=Milky Way
X-KDE-PluginInfo-Author=ruvkr
X-KDE-PluginInfo-Email=universalemail.gm@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
