[Desktop Entry]
Name=Milky Way
Name[ca]=Via Làctia
Name[cs]=Mléčná dráha
Name[de]=Milchstraße
Name[en_GB]=Milky Way
Name[es]=Vía Láctea
Name[eu]=Esne-bidea
Name[fi]=Linnunrata
Name[fr]=Voie lactée
Name[hi]=क्षीर सागर
Name[ia]=Milky Way (Via lactee)
Name[it]=Via Lattea
Name[ko]=은하수
Name[nl]=Melkweg
Name[pl]=Droga Mleczna
Name[pt_BR]=Via Láctea
Name[ro]=Calea Lactee
Name[sk]=Mliečna dráha
Name[sl]=Mlečna cesta
Name[sv]=Vintergatan
Name[uk]=Чумацький Шлях
Name[x-test]=xxMilky Wayxx
Name[zh_CN]=Milky Way 银河

X-KDE-PluginInfo-Name=Milky Way
X-KDE-PluginInfo-Author=ruvkr
X-KDE-PluginInfo-Email=universalemail.gm@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
