[Desktop Entry]
Name=Flow
Name[az]=Axın
Name[ca]=Flux
Name[cs]=Proud
Name[da]=Flow
Name[de]=Fließen
Name[en_GB]=Flow
Name[es]=Flujo
Name[et]=Voog
Name[eu]=Isuri
Name[fi]=Virtaus
Name[fr]=Flux
Name[hi]=बहाव
Name[hu]=Flow
Name[ia]=Fluxo (Flow)
Name[it]=Flusso
Name[ko]=흐름
Name[lt]=Srautas
Name[nl]=Flow
Name[nn]=Flyt
Name[pl]=Przepływ
Name[pt]=Fluxo
Name[pt_BR]=Fluxo
Name[ro]=Flux
Name[ru]=Поток
Name[sk]=Prúd
Name[sl]=Pretok
Name[sv]=Flöde
Name[uk]=Потік
Name[x-test]=xxFlowxx
Name[zh_CN]=Flow 流水

X-KDE-PluginInfo-Name=Flow
X-KDE-PluginInfo-Author=Sandra Smukaste
X-KDE-PluginInfo-Email=pewmuffin@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
