[Desktop Entry]
Name=By the water
Name[ca]=Per l'aigua
Name[ca@valencia]=Per l'aigua
Name[da]=Ved vandet
Name[en_GB]=By the water
Name[es]=Junto al agua
Name[fi]=Veden äärellä
Name[gl]=Canda a auga
Name[nl]=Aan de waterkant
Name[pl]=Przy wodzie
Name[pt]=Na água
Name[pt_BR]=Pela Água
Name[sv]=Vid vattnet
Name[uk]=За водою
Name[x-test]=xxBy the waterxx
X-KDE-PluginInfo-Name=BytheWater
X-KDE-PluginInfo-Author=Maciej Wiklo
X-KDE-PluginInfo-Email=mwiklo@yandex.com
X-KDE-PluginInfo-License=LGPLv3
