[Desktop Entry]
Name=By the water
X-KDE-PluginInfo-Name=BytheWater
X-KDE-PluginInfo-Author=Maciej Wiklo
X-KDE-PluginInfo-Email=mwiklo@yandex.com
X-KDE-PluginInfo-License=LGPLv3
