[Desktop Entry]
Name=Honeywave
Name[ca]=Honeywave
Name[ca@valencia]=Honeywave
Name[de]=Honeywave
Name[es]=Honeywave
Name[fr]=Onde de miel
Name[nl]=Honeywave
Name[ru]=Медовая волна
Name[sv]=Honungsvåg
Name[uk]=Медова хвиля
Name[x-test]=xxHoneywavexx

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Ken Vermette
X-KDE-PluginInfo-Email=Ken Vermette <vermette@gmail.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
