[Desktop Entry]
Name=Honeywave
Name[ca]=Honeywave
Name[ca@valencia]=Honeywave
Name[de]=Honeywave
Name[es]=Honeywave
Name[fr]=Onde de miel
Name[ia]=Honeywave (Unda de miel)
Name[it]=Honeywave
Name[nl]=Honeywave
Name[nn]=Honningbølgje
Name[pt_BR]=Onda de mel
Name[ru]=Медовая волна
Name[sk]=Medová vlna
Name[sl]=Medeno satovje
Name[sv]=Honungsvåg
Name[uk]=Медова хвиля
Name[x-test]=xxHoneywavexx
Name[zh_CN]=Honeywave 金波

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Ken Vermette
X-KDE-PluginInfo-Email=Ken Vermette <vermette@gmail.com>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
