[Desktop Entry]
Name=Event Day
Name[ca]=Dia de l'esdeveniment
Name[ca@valencia]=Dia de l'esdeveniment
Name[de]=Event Day
Name[en_GB]=Event Day
Name[es]=Día del evento
Name[fi]=Tapahtumapäivä
Name[nl]=Dag van de gebeurtenis
Name[nn]=Hending dag
Name[pl]=Dzień przypadków
Name[pt]=Dia de Evento
Name[pt_BR]=Dia de Evento
Name[sv]=Evenemangsdag
Name[uk]=День події
Name[x-test]=xxEvent Dayxx
X-KDE-PluginInfo-Name=EventDay
X-KDE-PluginInfo-Author=Ken Vermette
X-KDE-PluginInfo-Email=vermette@gmail.com
X-KDE-PluginInfo-License=LGPLv3
