[Desktop Entry]
Name=Event Day
X-KDE-PluginInfo-Name=EventDay
X-KDE-PluginInfo-Author=Ken Vermette
X-KDE-PluginInfo-Email=vermette@gmail.com
X-KDE-PluginInfo-License=LGPLv3
