[Desktop Entry]
Name=Elarun

X-KDE-PluginInfo-Name=Elarun
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
