[Desktop Entry]
Name=Elarun
Name[az]=Elaran
Name[ca]=Elarun
Name[ca@valencia]=Elarun
Name[cs]=Elarun
Name[da]=Elarun
Name[de]=Elarun
Name[en_GB]=Elarun
Name[es]=Elarun
Name[et]=Elarun
Name[eu]=Elarun
Name[fi]=Elarun
Name[fr]=Elarun
Name[gl]=Elarun
Name[hi]=एलारुन
Name[hu]=Elarun
Name[ia]=Elarun
Name[id]=Elarun
Name[it]=Elarun
Name[ko]=엘라룬
Name[lt]=Elarun
Name[nl]=Elarun
Name[nn]=Elarun
Name[pl]=Elarun
Name[pt]=Elarun
Name[pt_BR]=Elarun
Name[ro]=Elarun
Name[ru]=Эларан
Name[sk]=Elarun
Name[sl]=Elarun
Name[sv]=Elarun
Name[tg]=Қанот
Name[uk]=Ілеран
Name[x-test]=xxElarunxx
Name[zh_CN]=Elarun 虚幻
Name[zh_TW]=Elarun

X-KDE-PluginInfo-Name=Elarun
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
