[Desktop Entry]
Name=Great white Heron
Name[ca]=Bernat americà blanc gran
Name[de]=Großer weißer Reiher
Name[en_GB]=Great white Heron
Name[es]=Garza blanca
Name[fi]=Suuri valkoinen haikara
Name[gl]=Gran garza branca
Name[it]=Grande airone bianco
Name[lt]=Didysis baltasis garnys
Name[nl]=Great white Heron
Name[nn]=Egretthegre
Name[pl]=Wielki biały Heron
Name[pt]=Grande Garça Branca
Name[pt_BR]=Grande Garça Branca
Name[ru]=Большая белая цапля
Name[sk]=Veľký biely Heron
Name[sl]=Velika bela čaplja
Name[sr]=Велика бела рода
Name[sr@ijekavian]=Велика бела рода
Name[sr@ijekavianlatin]=Velika bela roda
Name[sr@latin]=Velika bela roda
Name[sv]=Amerikansk gråhäger
Name[tr]=Büyük beyaz Balıkçıl
Name[uk]=Велика біла чапля
Name[x-test]=xxGreat white Heronxx
Name[zh_CN]=大白鹭
Name[zh_TW]=大白鷺
X-KDE-PluginInfo-Name=GreatHeron
X-KDE-PluginInfo-Author=Alfred Deak
X-KDE-PluginInfo-Email=alfred.deak@chello.at
X-KDE-PluginInfo-License=LGPLv3
