[Desktop Entry]
Name=Spray
Name[ca]=Esprai
Name[ca@valencia]=Esprai
Name[da]=Spray
Name[de]=Sprühregen
Name[en_GB]=Spray
Name[es]=Espuma
Name[fi]=Pärske
Name[gl]=Aerógrafo
Name[it]=Spruzzo
Name[lt]=Purkštuvas
Name[nb]=Dusj
Name[nl]=Sproeier
Name[nn]=Sjøsprøyt
Name[pl]=Spray
Name[pt]='Spray'
Name[pt_BR]=Spray
Name[ru]=Брызги
Name[sk]=Sprej
Name[sl]=Pršenje
Name[sr]=Пенушање
Name[sr@ijekavian]=Пенушање
Name[sr@ijekavianlatin]=Penušanje
Name[sr@latin]=Penušanje
Name[sv]=Sprej
Name[tr]=Sprey
Name[uk]=Розпилювач
Name[x-test]=xxSprayxx
Name[zh_CN]=浪花
Name[zh_TW]=噴霧
X-KDE-PluginInfo-Name=Spray
X-KDE-PluginInfo-Author=Andreas Kainz
X-KDE-PluginInfo-Email=kainz.a@gmail.com
X-KDE-PluginInfo-License=LGPLv3
