[Desktop Entry]
Name=Cluster
X-KDE-PluginInfo-Name=Cluster
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
