[Desktop Entry]
Name=Cluster
Name[ca]=Cúmul
Name[es]=Cúmulo
Name[eu]=Cluster
Name[id]=Cluster
Name[nl]=Cluster
Name[pt]=Enxame
Name[pt_BR]=Cluster
Name[ru]=Кластер
Name[sk]=Zhluk
Name[sv]=Hop
Name[uk]=Скупчення
Name[x-test]=xxClusterxx
Name[zh_TW]=Cluster
X-KDE-PluginInfo-Name=Cluster
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
