[Desktop Entry]
Name=Indian Summer
Name[ca]=Estiu a l'Índia
Name[ca@valencia]=Estiu a l'Índia
Name[de]=Indianischer Sommer
Name[en_GB]=Indian Summer
Name[es]=Verano índico
Name[fi]=Intian kesä
Name[gl]=Verán indio
Name[it]=Estate indiana
Name[lt]=Indijos vasara
Name[nl]=Indian Summer
Name[nn]=Seinsommar
Name[pl]=Indyjskie lato
Name[pt]=Verão Indiano
Name[pt_BR]=Verão Indiano
Name[ro]=Vară indiană
Name[ru]=Бабье лето
Name[sk]=Indické leto
Name[sl]=Indijansko poletje
Name[sr]=Индијанско лето
Name[sr@ijekavian]=Индијанско лето
Name[sr@ijekavianlatin]=Indijansko leto
Name[sr@latin]=Indijansko leto
Name[sv]=Brittsommar
Name[tr]=Hint Yazı
Name[uk]=Індіанське літо
Name[x-test]=xxIndian Summerxx
Name[zh_CN]=印度夏日
Name[zh_TW]=印度之夏
X-KDE-PluginInfo-Name=IndianSummer
X-KDE-PluginInfo-Author=Robert Fitsy
X-KDE-PluginInfo-Email=rehfjo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
