[Desktop Entry]
Name=Sunset
Name[ar]=غروب
Name[ca]=Posta de sol
Name[ca@valencia]=Posta de sol
Name[de]=Sonnenuntergang
Name[en_GB]=Sunset
Name[es]=Puesta de sol
Name[fi]=Auringonlasku
Name[gl]=Ocaso
Name[it]=Tramonto
Name[lt]=Saulėlydis
Name[nl]=Zonsondergang
Name[nn]=Soleglad
Name[pl]=Zachód
Name[pt]=Pôr-do-Sol
Name[pt_BR]=Pôr do Sol
Name[ro]=Apus
Name[ru]=Закат
Name[sk]=Západ slnka
Name[sl]=Sončev zahod
Name[sr]=Залазак
Name[sr@ijekavian]=Залазак
Name[sr@ijekavianlatin]=Zalazak
Name[sr@latin]=Zalazak
Name[sv]=Solnedgång
Name[tr]=Günbatımı
Name[uk]=Захід
Name[x-test]=xxSunsetxx
Name[zh_CN]=日落
Name[zh_TW]=日落
X-KDE-PluginInfo-Name=Sunset
X-KDE-PluginInfo-Author=Lukáš Karas
X-KDE-PluginInfo-Email=karry@jabbim.cz
X-KDE-PluginInfo-License=LGPLv3
