[Desktop Entry]
Name=Pastel Hills
Name[ar]=تلال الباستيل
Name[ca]=Pastel Hills
Name[ca@valencia]=Pastel Hills
Name[cs]=Pastelové kopce
Name[da]=Pastelbakker
Name[de]=Pastel-Hügel
Name[en_GB]=Pastel Hills
Name[es]=Colinas pastel
Name[et]=Pastelsed künkad
Name[eu]=Pastel muinoak
Name[fi]=Pastellikukkulat
Name[fr]=Collines pastel
Name[gl]=Outeiros pastel
Name[hu]=Pasztell dombok
Name[id]=Pastel Hills
Name[it]=Colline pastello
Name[ko]=파스텔 언덕
Name[nl]=Heuvels in pastel
Name[nn]=Åsar av pastell
Name[pa]=ਰੰਗੀਨ ਪਹਾੜੀਆਂ
Name[pl]=Pastelowe wzgórza
Name[pt]=Colinas em Pastel
Name[pt_BR]=Colinas em Pastel
Name[ru]=Пастельные холмы
Name[sk]=Pastelové kopce
Name[sl]=Pastelni hribi
Name[sr]=Пастелни брежуљци
Name[sr@ijekavian]=Пастелни брежуљци
Name[sr@ijekavianlatin]=Pastelni brežuljci
Name[sr@latin]=Pastelni brežuljci
Name[sv]=Pastellhöjder
Name[tr]=Pastel Hills
Name[uk]=Пастельні пагорби
Name[x-test]=xxPastel Hillsxx
Name[zh_CN]=粉彩的山脉
Name[zh_TW]=山丘
X-KDE-PluginInfo-Name=PastelHills
X-KDE-PluginInfo-Author=Lionel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
