[Desktop Entry]
Name=Pastel Hills
X-KDE-PluginInfo-Name=PastelHills
X-KDE-PluginInfo-Author=Lionel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
