[Desktop Entry]
Name=Whisker Grass
Name[ar]=عشب طويل
Name[bs]=Dugačka trava
Name[ca]=Bigoti com l'herba
Name[ca@valencia]=Bigoti com l'herba
Name[cs]=Špičatá tráva
Name[da]=Whisker Grass
Name[de]=Kristallgras
Name[el]=Χνουδωτό γρασίδι
Name[en_GB]=Whisker Grass
Name[es]=Espigas
Name[fi]=Viiksiheinä
Name[fr]=Cyperus
Name[gl]=Herba forte
Name[hu]=Fűszálak
Name[it]=Prato
Name[ko]=보라색 풀
Name[lt]=Smulki žolė
Name[nb]=Hårgress
Name[nds]=Snurrgras
Name[nl]=Kattengras
Name[nn]=Fjørbørstegras
Name[pl]=Trawa kocie wąsy
Name[pt]=Relvado
Name[pt_BR]=Capim do Texas
Name[ru]=Пушистая трава
Name[sk]=Chlpatá tráva
Name[sl]=Whisker Grass
Name[sr]=Брката трава
Name[sr@ijekavian]=Брката трава
Name[sr@ijekavianlatin]=Brkata trava
Name[sr@latin]=Brkata trava
Name[sv]=Gräsax
Name[tr]=Fışkiye Çiçeği
Name[uk]=Трава
Name[x-test]=xxWhisker Grassxx
Name[zh_CN]=晶须草
Name[zh_TW]=長長的草

X-KDE-PluginInfo-Name=Whisker_Grass
X-KDE-PluginInfo-Author=Orlin R. Bertsch
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPLv2+
