[Desktop Entry]
Name=Colorful Cups
X-KDE-PluginInfo-Name=ColorfulCups
X-KDE-PluginInfo-Author=Dmitri Popov
X-KDE-PluginInfo-Email=dmpop@linux.com
X-KDE-PluginInfo-License=LGPLv3
