[Desktop Entry]
Name=Colorful Cups
Name[ar]=أكواب ملوّنة
Name[ca]=Tasses de colors
Name[ca@valencia]=Tasses de colors
Name[cs]=Barevné šálky
Name[da]=Colorful Cups
Name[de]=Farbige Tassen
Name[en_GB]=Colourful Cups
Name[es]=Tazas de colores
Name[et]=Värvilised kruusid
Name[eu]=Katilu koloretsuak
Name[fi]=Värikkäät kupit
Name[fr]=Tasses colorées
Name[gl]=Cuncas coloridas
Name[hu]=Színes csészék
Name[id]=Colorful Cups
Name[it]=Tazze colorate
Name[ko]=알록달록 컵
Name[nl]=Kleurrijke koppen
Name[nn]=Fargerike krus
Name[pa]=ਰੰਗਦਾਰ ਕੱਪ
Name[pl]=Barwne kubki
Name[pt]=Copos Coloridos
Name[pt_BR]=Copos Coloridos
Name[ru]=Цветные стаканы
Name[sk]=Farebné šálky
Name[sl]=Barviti lončki
Name[sr]=Разнобојне шоље
Name[sr@ijekavian]=Разнобојне шоље
Name[sr@ijekavianlatin]=Raznobojne šolje
Name[sr@latin]=Raznobojne šolje
Name[sv]=Färgglada koppar
Name[tr]=Renkli Kupalar
Name[uk]=Кольорові чашки
Name[x-test]=xxColorful Cupsxx
Name[zh_CN]=色彩斑斓的杯子
Name[zh_TW]=彩色杯子
X-KDE-PluginInfo-Name=ColorfulCups
X-KDE-PluginInfo-Author=Dmitri Popov
X-KDE-PluginInfo-Email=dmpop@linux.com
X-KDE-PluginInfo-License=LGPLv3
