[Desktop Entry]
Name=Autumn 5.5
X-KDE-PluginInfo-Name=Autumn
X-KDE-PluginInfo-Author=RJ Quiralta
X-KDE-PluginInfo-Email=rjquiralte@gmail.com
X-KDE-PluginInfo-License=LGPLv3
