[Desktop Entry]
Name=Water
Name[ca]=Aigua
Name[de]=Wasser
Name[en_GB]=Water
Name[es]=Agua
Name[fi]=Vesi
Name[gl]=Auga
Name[it]=Acqua
Name[lt]=Vanduo
Name[nl]=Water
Name[nn]=Vatn
Name[pl]=Woda
Name[pt]=Água
Name[pt_BR]=Água
Name[ro]=Apă
Name[ru]=Вода
Name[sk]=Voda
Name[sl]=Voda
Name[sr]=Вода
Name[sr@ijekavian]=Вода
Name[sr@ijekavianlatin]=Voda
Name[sr@latin]=Voda
Name[sv]=Vatten
Name[tr]=Su
Name[uk]=Вода
Name[x-test]=xxWaterxx
Name[zh_CN]=水畔
Name[zh_TW]=水
X-KDE-PluginInfo-Name=Water
X-KDE-PluginInfo-Author=Andreas Kainz
X-KDE-PluginInfo-Email=kainz.a@gmail.com
X-KDE-PluginInfo-License=LGPLv3
