[Desktop Entry]
Name=Forest House
Name[ca]=Casa al bosc
Name[ca@valencia]=Casa al bosc
Name[de]=Waldhaus
Name[en_GB]=Forest House
Name[es]=Casa en el bosque
Name[fi]=Talo metsässä
Name[gl]=Casa no bosque
Name[it]=Casa nella foresta
Name[ko]=숲 속의 집
Name[lt]=Namelis miške
Name[nl]=Huis in het bos
Name[nn]=Hus i skogen
Name[pl]=Dom w lesie
Name[pt]=Casa na Floresta
Name[pt_BR]=Casa na Floresta
Name[ro]=Casa din pădure
Name[ru]=Лесной домик
Name[sk]=Lesný dom
Name[sl]=Hiša v gozdu
Name[sr]=Кућа у шуми
Name[sr@ijekavian]=Кућа у шуми
Name[sr@ijekavianlatin]=Kuća u šumi
Name[sr@latin]=Kuća u šumi
Name[sv]=Skogshus
Name[tr]=Orman Evi
Name[uk]=Будинок у лісі
Name[x-test]=xxForest Housexx
Name[zh_CN]=林中小屋
Name[zh_TW]=森林小屋
X-KDE-PluginInfo-Name=ForestHouse
X-KDE-PluginInfo-Author=Alfred Deak
X-KDE-PluginInfo-Email=alfred.deak@chello.at
X-KDE-PluginInfo-License=LGPLv3
