[Desktop Entry]
Name=Alps
Name[ar]=جبال الألب
Name[ca]=Alps
Name[ca@valencia]=Alps
Name[de]=Alpen
Name[en_GB]=Alps
Name[es]=Alpes
Name[fi]=Alpit
Name[gl]=Alpes
Name[it]=Alpi
Name[ko]=알프스
Name[lt]=Alpės
Name[nl]=Alpen
Name[nn]=Alpane
Name[pl]=Alpy
Name[pt]=Alpes
Name[pt_BR]=Alpes
Name[ro]=Alpi
Name[ru]=Альпы
Name[sk]=Alpy
Name[sl]=Alpe
Name[sr]=Алпи
Name[sr@ijekavian]=Алпи
Name[sr@ijekavianlatin]=Alpi
Name[sr@latin]=Alpi
Name[sv]=Alperna
Name[tr]=Alpler
Name[uk]=Альпи
Name[x-test]=xxAlpsxx
Name[zh_TW]=阿爾卑斯
X-KDE-PluginInfo-Name=Alps
X-KDE-PluginInfo-Author=Lukáš Karas
X-KDE-PluginInfo-Email=karry@jabbim.cz
X-KDE-PluginInfo-License=LGPLv3
