[Desktop Entry]
Name=Fog
Name[ca]=Boira
Name[de]=Nebel
Name[en_GB]=Fog
Name[es]=Niebla
Name[fi]=Sumu
Name[gl]=Ra
Name[it]=Nebbia
Name[ko]=안개
Name[lt]=Rūkas
Name[nl]=Mist
Name[nn]=Tåke
Name[pl]=Mgła
Name[pt]=Nevoeiro
Name[pt_BR]=Nevoeiro
Name[ro]=Ceață
Name[ru]=Туман
Name[sk]=Hmla
Name[sl]=Megla
Name[sr]=Магла
Name[sr@ijekavian]=Магла
Name[sr@ijekavianlatin]=Magla
Name[sr@latin]=Magla
Name[sv]=Dimma
Name[tr]=Sis
Name[uk]=Туман
Name[x-test]=xxFogxx
Name[zh_CN]=雾
Name[zh_TW]=霧
X-KDE-PluginInfo-Name=Fog
X-KDE-PluginInfo-Author=Sigi Sagi
X-KDE-PluginInfo-Email=sigi-sagi@gmx.de
X-KDE-PluginInfo-License=LGPLv3
