[Desktop Entry]
Name=Cold Ripple
Name[ar]=موجة برد
Name[ca]=Onada de fred
Name[ca@valencia]=Onada de fred
Name[da]=Cold Ripple
Name[de]=Kaltes Plätschern
Name[en_GB]=Cold Ripple
Name[es]=Ola de frío
Name[et]=Külmavirvendus
Name[eu]=Hotz-bolada
Name[fi]=Kylmä väre
Name[fr]=Vague froide
Name[gl]=Ondas frías
Name[hu]=Hideg fodor
Name[id]=Cold Ripple
Name[it]=Ondata di gelo
Name[ko]=선착장
Name[nl]=Koude rimpel
Name[nn]=Kald dukkert
Name[pa]=ਠੰਡੀ ਲਹਿਰ
Name[pl]=Zimna fala
Name[pt]=Onda Fria
Name[pt_BR]=Onda Fria
Name[ru]=Холодная рябь
Name[sk]=Studené vlnenie
Name[sl]=Mrzli valovi
Name[sr]=Хладно мрешкање
Name[sr@ijekavian]=Хладно мрешкање
Name[sr@ijekavianlatin]=Hladno mreškanje
Name[sr@latin]=Hladno mreškanje
Name[sv]=Kall krusning
Name[tr]=Soğuk Dalgalanma
Name[uk]=Холодні брижі
Name[x-test]=xxCold Ripplexx
Name[zh_CN]=冷色波纹
Name[zh_TW]=水波紋
X-KDE-PluginInfo-Name=ColdRipple
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
