[Desktop Entry]
Name=Cold Ripple
X-KDE-PluginInfo-Name=ColdRipple
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
