[Desktop Entry]
Name=Ice Cold
Name[ca]=Gel fred
Name[da]=Iskoldt
Name[et]=Jäine külm
Name[eu]=Izotza bezain hotza
Name[lt]=Ledinis šaltis
Name[nl]=IJskoud
Name[pt]=Frio Gelado
Name[ru]=Лёд
Name[sv]=Iskall
Name[uk]=Льодяний холод
Name[x-test]=xxIce Coldxx
Name[zh_TW]=冷冰

X-KDE-PluginInfo-Name=Ice Cold
X-KDE-PluginInfo-Author=Santiago Cézar
X-KDE-PluginInfo-Email=santiagocezar2013@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
