[Desktop Entry]
Name=Ice Cold

X-KDE-PluginInfo-Name=Ice Cold
X-KDE-PluginInfo-Author=Santiago Cézar
X-KDE-PluginInfo-Email=santiagocezar2013@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
