[Desktop Entry]
Name=One Stands Out
Name[ar]=واحدة مختلفة
Name[ca]=Una que destaca
Name[ca@valencia]=Una que destaca
Name[da]=En skiller sig ud
Name[de]=Einer fällt auf
Name[en_GB]=One Stands Out
Name[es]=Uno destacado
Name[et]=Silmapaistev
Name[eu]=Bat nabarmentzen da
Name[fi]=Yksi eroaa muista
Name[fr]=Sort du lot
Name[gl]=Un resalta
Name[hu]=Bátorság
Name[id]=One Stands Out
Name[it]=Uno spicca
Name[ko]=눈에 띄는 하나
Name[nl]=One Stands Out
Name[nn]=Éin skil seg ut
Name[pa]=ਵੱਖਰਾ
Name[pl]=Jeden się wyróżnia
Name[pt]=Destaque
Name[pt_BR]=Destaque
Name[ru]=Не такой как все
Name[sk]=Jeden vyčnieva
Name[sl]=Nekdo izstopa
Name[sr]=Један се истиче
Name[sr@ijekavian]=Један се истиче
Name[sr@ijekavianlatin]=Jedan se ističe
Name[sr@latin]=Jedan se ističe
Name[sv]=En utmärker sig
Name[tr]=Cesur Biri
Name[uk]=Один перед усіма
Name[x-test]=xxOne Stands Outxx
Name[zh_CN]=特立独行
Name[zh_TW]=One Stands Out
X-KDE-PluginInfo-Name=OneStandsOut
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
