[Desktop Entry]
Name=One Stands Out
Name[ca]=Una que destaca
Name[ca@valencia]=Una que destaca
Name[da]=En skiller sig ud
Name[en_GB]=One Stands Out
Name[es]=Uno destacado
Name[fi]=Yksi eroaa muista
Name[gl]=Un resalta
Name[it]=Uno spicca
Name[nl]=One Stands Out
Name[nn]=Éin skil seg ut
Name[pl]=Jeden się wyróżnia
Name[pt]=Destaque
Name[pt_BR]=Destaque
Name[sv]=En utmärker sig
Name[uk]=Один перед усіма
Name[x-test]=xxOne Stands Outxx
Name[zh_CN]=特立独行
X-KDE-PluginInfo-Name=OneStandsOut
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
