[Desktop Entry]
Name=One Stands Out
X-KDE-PluginInfo-Name=OneStandsOut
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
