[Desktop Entry]
Name=Kokkini
Name[ca]=Kokkini
Name[ca@valencia]=Kokkini
Name[de]=Kokkini
Name[en_GB]=Kokkini
Name[es]=Kokkini
Name[fi]=Kokkini
Name[fr]=Kokkini
Name[gl]=Kokkini
Name[id]=Kokkini
Name[it]=Rosso
Name[nl]=Kokkini
Name[nn]=Kokkini
Name[pl]=Kokkini
Name[pt]=Kokkini
Name[pt_BR]=Kokkini
Name[ru]=Коккини
Name[sk]=Kokkini
Name[sv]=Kokkini
Name[uk]=Коккіні
Name[x-test]=xxKokkinixx
Name[zh_CN]=科基尼
Name[zh_TW]=Kokkini

X-KDE-PluginInfo-Name=Kokkini
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
