[Desktop Entry]
Name=Kokkini

X-KDE-PluginInfo-Name=Kokkini
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
