[Desktop Entry]
Name=Evening Glow
Name[ar]=وهج المساء
Name[ca]=Lluïssor de capvespre
Name[ca@valencia]=Lluïssor de capvespre
Name[da]=Aftenglød
Name[de]=Abendröte
Name[en_GB]=Evening Glow
Name[es]=Resplandor al atardecer
Name[et]=Õhtusära
Name[eu]=Arratseko oskorri
Name[fi]=Iltaruskon kajo
Name[fr]=Lueur du soir
Name[gl]=Brillo matinal
Name[hu]=Sarki fény
Name[id]=Evening Glow
Name[it]=Bagliore serale
Name[ko]=저녁 노을
Name[lt]=Vakaro žara
Name[nl]=Avondrood
Name[nn]=Kveldsglød
Name[pa]=ਚਮਕਦੀਆਂ ਤਰਕਾਲਾਂ
Name[pl]=Wieczorna poświata
Name[pt]=Brilho do Entardecer
Name[pt_BR]=Brilho do Entardecer
Name[ru]=Вечернее зарево
Name[sk]=Večerná žiara
Name[sl]=Večerni žar
Name[sr]=Вечерњи сјај
Name[sr@ijekavian]=Вечерњи сјај
Name[sr@ijekavianlatin]=Večernji sjaj
Name[sr@latin]=Večernji sjaj
Name[sv]=Aftonglöd
Name[tr]=Akşam Kızıllığı
Name[uk]=Вечірнє сяйво
Name[x-test]=xxEvening Glowxx
Name[zh_CN]=晚霞
Name[zh_TW]=傍晚的閃光
X-KDE-PluginInfo-Name=EveningGlow
X-KDE-PluginInfo-Author=Ian Hex
X-KDE-PluginInfo-License=LGPLv3
