[Desktop Entry]
Name=Kite
Name[ca]=Estel
Name[ca@valencia]=Estel
Name[en_GB]=Kite
Name[gl]=Gatiño
Name[nl]=Vlieger
Name[pt]=Papagaio
Name[pt_BR]=Pipa
Name[sv]=Drake
Name[uk]=Повітряний змій
Name[x-test]=xxKitexx
X-KDE-PluginInfo-Name=Kite
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
