[Desktop Entry]
Name=Kite
Name[ar]=طائرة ورقيّة
Name[ca]=Estel
Name[ca@valencia]=Estel
Name[cs]=Drak
Name[da]=Drage
Name[de]=Drachen
Name[en_GB]=Kite
Name[es]=Cometa
Name[et]=Tuulelohe
Name[eu]=Kometa
Name[fi]=Leija
Name[fr]=Cerf-volant
Name[gl]=Gatiño
Name[hu]=Papírsárkány
Name[id]=Kite
Name[it]=Aquilone
Name[ko]=연
Name[nl]=Vlieger
Name[nn]=Drake
Name[pa]=ਪਤੰਗ
Name[pl]=Latawiec
Name[pt]=Papagaio
Name[pt_BR]=Pipa
Name[ru]=Воздушный змей
Name[sk]=Šarkan
Name[sl]=Zmaj
Name[sr]=Змај
Name[sr@ijekavian]=Змај
Name[sr@ijekavianlatin]=Zmaj
Name[sr@latin]=Zmaj
Name[sv]=Drake
Name[tr]=Uçurtma
Name[uk]=Повітряний змій
Name[x-test]=xxKitexx
Name[zh_CN]=风筝
Name[zh_TW]=風箏
X-KDE-PluginInfo-Name=Kite
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=paristo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
