[Desktop Entry]
Name=Cascade
Name[ca]=Cascade
Name[ca@valencia]=Cascade
Name[cs]=Kaskáda
Name[de]=Cascade
Name[en_GB]=Cascade
Name[es]=Cascada
Name[fi]=Porrastus
Name[fr]=Cascade
Name[gl]=Fervenza
Name[id]=Cascade
Name[it]=Cascata
Name[nl]=Cascade
Name[nn]=Kaskade
Name[pl]=Kaskada
Name[pt]=Cascata
Name[pt_BR]=Cascata
Name[ru]=Каскад
Name[sk]=Kaskáda
Name[sv]=Kaskad
Name[uk]=Уступи
Name[x-test]=xxCascadexx
Name[zh_CN]=级联
Name[zh_TW]=Cascade

X-KDE-PluginInfo-Name=Cascade
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
