[Desktop Entry]
Name=Canopée

X-KDE-PluginInfo-Name=Canopée
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
