[Desktop Entry]
Name=Green Leaves
Name[ar]=أوراق شجر خضراء
Name[bs]=Zeleno lišće
Name[ca]=Fulles verdes
Name[ca@valencia]=Fulles verdes
Name[cs]=Zelené listy
Name[da]=Grønne blade
Name[de]=Grüne Blätter
Name[el]=Πράσινα φύλλα
Name[en_GB]=Green Leaves
Name[es]=Hojas verdes
Name[fi]=Vihreät lehdet
Name[fr]=Feuilles vertes
Name[gl]=Follas verdes
Name[hu]=Zöld levelek
Name[it]=Foglie verdi
Name[ko]=녹색 잎
Name[lt]=Žali lapai
Name[nb]=Grønne blader
Name[nds]=Gröön Blääd
Name[nl]=Groene bladeren
Name[nn]=Grøne blad
Name[pa]=ਹਰੇ ਪੱਤੇ
Name[pl]=Zielone liście
Name[pt]=Folhas Verdes
Name[pt_BR]=Folhas Verdes
Name[ro]=Frunze verzi
Name[ru]=Зелёные листья
Name[sk]=Zelené listy
Name[sl]=Zeleno listje
Name[sr]=Зелено лишће
Name[sr@ijekavian]=Зелено лишће
Name[sr@ijekavianlatin]=Zeleno lišće
Name[sr@latin]=Zeleno lišće
Name[sv]=Gröna löv
Name[tr]=Yeşil Yapraklar
Name[uk]=Зелені листки
Name[x-test]=xxGreen Leavesxx
Name[zh_CN]=绿叶
Name[zh_TW]=綠葉

X-KDE-PluginInfo-Name=Green_Leaves
X-KDE-PluginInfo-Author=Orlin R. Bertsch
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPLv2+
